<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="author" content="Kazuichi Takashiro" />
<base href="{$_G[root_url]}" />
<link href="{TEMPLATE_ROOT}style/common.css?{STATIC_VERSION}" rel="stylesheet">
{JQUERY_CDN}
<script>window.jQuery || document.write('<script src="{STATIC_URL}3rdparty/jquery/jquery-3.1.0.min.js"><\/script>');</script>
<script src="{STATIC_URL}js/common.js?{STATIC_VERSION}"></script>
<script>
var cookiepre = '$_CONFIG[cookiepre]';
</script>
<!--{if isset($_CONFIG['head_element'])}-->$_CONFIG[head_element]<!--{/if}-->
