<!--{template header}-->

<script src="{STATIC_URL}js/jquery.editlist.js?{STATIC_VERSION}"></script>
<script>
$(function(){
	$('#autoreply_list').editlist({
		'edit' : '$mod_url&action=edit',
		'delete' : '$mod_url&action=delete',
		'attr' : ['keyword', 'reply'],
		'buttons' : {'delete':'删除'}
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=weixin">微信</a></li>
	<li>自动回复</li>
</ol>

<div class="box">
	<h1>自动回复设置</h1>

	<div id="autoreply_list" class="list">
		<table>
			<thead><tr><td>关键词</td><td>回复内容</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $autoreply $r}-->
				<tr data-primaryvalue="$r[id]"><td>$r[keyword]</td><td>$r[reply]</td><td></td></tr>
				<!--{/loop}-->
				<tr>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--{template footer}-->
