<!--{template header}-->

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=weixin">微信</a></li>
	<li>设置</li>
</ol>

<div class="box edit_form">
	<form class="toast" action="$mod_url" method="post">

	<h2>微信公众平台设置</h2>
	<table>
		<tr>
			<th><label>App ID：</label></th>
			<td><input type="text" name="wxconnect[app_id]" value="$wxconnect[app_id]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>App Secret：</label></th>
			<td><input type="text" name="wxconnect[app_secret]" value="$wxconnect[app_secret]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>公众账号：</label></th>
			<td><input type="text" name="wxconnect[account]" value="$wxconnect[account]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>回调URL：</label></th>
			<td>{$_G[root_url]}module/weixin/api/server.php</td>
		</tr>
		<tr>
			<th><label>Token：</label></th>
			<td><input type="text" name="wxconnect[token]" value="$wxconnect[token]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>消息编码模式：</label></th>
			<td>
				{echo Template::radio('wxconnect[encoding_mode]', array(WeixinServer::RAW_MESSAGE => '明文', WeixinServer::AES_MESSAGE => 'AES加解密'), $wxconnect['encoding_mode'])}
			</td>
		</tr>
		<tr>
			<th><label>AES Key: </label></th>
			<td><input type="text" name="wxconnect[aes_key]" value="$wxconnect[aes_key]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>登录是否关闭跳转提示：</label></th>
			<td>
				{echo Template::radio('wxconnect[no_prompt_on_login]', array('否', '是'), !empty($wxconnect['no_prompt_on_login']))}
			</td>
		</tr>
		<tr>
			<th><label>关注提示文字：</label></th>
			<td><textarea name="wxconnect[subscribe_text]" class="wide">$wxconnect[subscribe_text]</textarea></td>
		</tr>
		<tr>
			<th><label>进入网站关键词：</label></th>
			<td><textarea name="wxconnect[entershop_keyword]">$wxconnect[entershop_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind_keyword]">$wxconnect[bind_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>确认绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind2_keyword]">$wxconnect[bind2_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>关注公众号提示链接：</label></th>
			<td><input type="text" name="wxconnect[follow_guide_page]" value="$wxconnect[follow_guide_page]" class="wide" /></td>
		</tr>
	</table>

	<h2>网站应用设置</h2>
	<table>
		<tr>
			<th><label>App ID：</label></th>
			<td><input type="text" name="wxsns[app_id]" value="$wxsns[app_id]" class="wide" /></td>
		</tr>
		<tr>
			<th><label>App Secret：</label></th>
			<td><input type="text" name="wxsns[app_secret]" value="$wxsns[app_secret]" class="wide" /></td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	</form>
</div>

<!--{template footer}-->
