<!--{template header}-->

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=alipay">支付宝</a></li>
	<li>设置</li>
</ol>

<div class="box">
	<form class="toast" action="$mod_url" method="post">
		<div class="edit_form">
			<h2>支付宝设置</h2>
			<table>
				<tr>
					<th><label>APP ID：</label></th>
					<td><input type="text" name="alipay[app_id]" value="$alipay[app_id]" style="width:18em" maxlength="16" /></td>
					<td class="tips"></td>
				</tr>
				<tr>
					<th><label>本站私钥：</label></th>
					<td><textarea name="alipay[private_key]">$alipay[private_key]</textarea></td>
					<td class="tips"></td>
				</tr>
				<tr>
					<th><label>支付宝公钥：</label></th>
					<td><textarea name="alipay[ali_public_key]">$alipay[ali_public_key]</textarea></td>
					<td class="tips"></td>
				</tr>
				<tr>
					<th><label>支付宝通知URL：</label></th>
					<td><input type="text" name="alipay[notify_url]" value="$alipay[notify_url]" class="wide" /></td>
					<td class="tips">设置该项可以覆盖默认通知路径</td>
				</tr>
			</table>
		</div>

		<div class="post_buttons">
			<button type="submit">修改设置</button>
		</div>
	</form>
</div>

<!--{template footer}-->
