body{
	user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:moz-none;
	-ms-user-select:none;
	padding:0;
	margin:0;
	font-size:11pt;
}

body, button, input, select, textarea{
	font-family:微软雅黑;
}

a{
	text-decoration:none;
	color: #428BCA;
}

a:hover{
	color: #2A6496;
}

ul{
	padding:0;
	margin:0;
}

ul li{
	list-style:none;
}

button, a.button{
	min-width: 70px;
	background: #5BC0DE;
	color: white;
	border: #46B8DA 1px solid;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	font-size: 11pt;
	cursor: pointer;
	margin: 0.1em 0.2em;
	padding: 0.3em 0.5em;
	text-align: center;
}

button:hover , a.button:hover{
	background: #31B0D5;
	border: #269ABC 1px solid;
}

form label{
	line-height:2em;
}

input[type="text"], input[type="password"], textarea{
	width: 149px;
}

input[type="text"], input[type="password"], select, textarea{
	padding: 8px;
	border:#CCC 1px solid;
	transition: 0.2s linear;
}

textarea{
	width:300px;
	height:200px;
}

input:focus, select:focus, textarea:focus{
	outline:none;
	border:#66AFE9 1px solid;
	box-shadow: #66AFE9 0 0 8px 0;
}

#sharebox{
	display:none;
}

.container{
	margin: 0 auto;
	min-width: 1000px;
	width: 100%;
}

.loginform{
	width:470px;
}

header{
	position: relative;
}

header h2{
	background: #222;
	padding-left: 1em;
	line-height: 2.5em;
	margin: 0;
	color: #7F7F7F;
	font-weight: normal;
}


header .profile{
	height: 35px;
	font-size: 10pt;
	color: #428BCA;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

header .profile .icon_home{
	float: left;
}

header .profile .account{
	float: left;
	height:35px;
	line-height:35px;
	font-weight:bold;
	font-size:middle;
}

header .profile .operation{
	margin: 0 1.5em 0 3em;
	height:35px;
	line-height:35px;
	float:right;
}

header .profile .operation li{
	display:inline;
	margin:0 0.5em;
}

.main{
	padding-left: 110px;
	position: relative;
	background: #EBEBEB;
}

.main ul.menu{
	text-align:center;
	font-size:13pt;
	font-family: Arial, 宋体;
	width: 110px;
	position: absolute;
	top: 0;
	left: 0;
}

.main ul.menu > li{
	transition:0.2s linear;
	position: relative;
}

.main ul.menu > li a{
	display:block;
	width:100%;
	color: black;
	height: 2.5em;
	line-height: 2.5em;
	transition:0.2s linear;
}

.main ul.menu > li:hover{
	background: #BFE8A7;
}

.main ul.menu > li a:hover{
	color: #333;
}

.main ul.menu > li ul.submenu{
	background: #EBEBEB;
	position: absolute;
	width: 120px;
	display: none;
	border-left: white 1px solid;
}

.main ul.menu > li ul.submenu > li{
	font-size: 10pt;
}

.main ul.menu > li ul.submenu > li:hover{
	font-size: 10pt;
	background: #BFE8A7;
}

.main > .content{
	background: white;
	padding: 10px;
	min-height: 543px;
}

ol.nav{
	padding: 0;
	background: #F5F5F5;
	margin: 16px;
	line-height: 2.5em;
}

ol.nav li{
	display: inline;
	margin: 0 0 0 0;
}

ol.nav li:nth-child(1){
	padding-left: 1em;
}

ol.nav li:nth-child(n+2):before{
    padding: 0px 5px;
    color: #CCC;
    content: "/ ";
}

footer{
	padding: 1.5em 0;
	text-align: center;
	font-size: small;
	color: #CCC;
	background: #333;
	text-shadow:rgb(116, 116, 116) 0px 0px 8px;
}

.post_buttons{
	text-align:center;
}


.box{
	margin:0 auto;
	background:white;
	text-align:center;
	padding-bottom:10px;
}

.box h1{
	height:17px;
	padding-left:17px;
	font-size:13pt;
	margin-bottom:20px;
	text-align: left;
}

.box h2{
	font-size:11pt;
}

.box .headactions{
	text-align:right;
	margin:0 10px 10px 0;
}

.box .content{
	margin:0 10px;
}

.messagebox{
	width:470px;
}

.messagebox h1{
	margin-bottom:40px;
}

.list{
	margin:10px;
}

.list table{
	width:100%;
	border-collapse:collapse;
}

.list table thead{
	background: none;
	font-weight:bold;
	color: #333;
}

.list table thead tr{
	border:0 solid;
	padding: 0.5em 0;
}

.list table thead tr td{
	border-bottom:#DDDDDD 2px solid;
}

.list table tbody tr:hover{
	color:#888;
}

.list table tbody tr:hover td:nth-child(1){
	color: black;
	font-weight: bold;
}

.list table tbody td, .edit_list table tbody th{
	border-top:#DDDDDD 1px solid;
}

.list table tbody tr:nth-child(2n+1) td{
	background: #F9F9F9;
}

.edit_form table{
	width:100%;
}

.edit_form table td{
	border:0;
	text-align:left;
}

.edit_form .wide{
	width:95%;
}

input.narrow{
	width:2.5em;
}

input.dnarrow{
	width: 5em;
}

input.number{
	text-align:center;
}

.edit_form table th{
	width:18%;
	text-align:right;
}

.edit_form .tips{
	color:gray;
	text-align:left;
	margin: 0.5em;
}

.edit_form tr:hover .tips{
	color:black;
}

.quick_search{
	text-align:left;
}

.quick_search dl{
	display:inline-block;
	margin:0.2em 0.5em;
}

.quick_search dl dt{
	display:inline;
	margin-left:0.5em;
}

.quick_search dl dd{
	display:inline;
	margin:0;
	margin-right:0.5em;
}

.mpage{
	display: inline-block;
	margin:0 0 20px 20px;
	border-radius: 6px;
	border:#DDDDDD 1px solid;
	line-height: 1.8em;
}

.mpage a, .mpage .total{
	margin:3px;
	padding:7px 9px;
}

.mpage a.current, .mpage a:hover{
	color: white;
	background: #428BCA;
}

.mpage a.current{
	cursor: default;
}

ul.order_detail:not(.disabled) li{
	cursor:pointer;
}

ul.order_detail:not(.disabled) li:hover{
	color:black;
}

ul.order_detail li.outofstock{
	text-decoration:line-through;
}

div.toast{
	background: #DFF0D8;
	border: #D6E9C6 1px solid;
	color: #3C763D;
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	margin: 23% 0 0 25%;
	padding: 1em;
}

div.toast_list p{
	background: #DFF0D8;
	border: #D6E9C6 1px solid;
	color: #3C763D;
	line-height: 2em;
	width: 60%;
	margin: 5px auto;
}

.notice{
	font-size: 10pt;
	text-align: left;
	background: #DFF0D8;
	border: #D6E9C6 1px solid;
	padding: 0.3em 1em;
	color: #3C763D;
	margin: 6px 40px;
}

.notice ol{
	margin: 0;
	padding-left: 1em;
}

.numberbox{
	display: inline;
}

.numberbox button{
	display: none;
}

/* Date time picker */
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_today{
	color:#31B0D5 !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current{
	background: #31B0D5 !important;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover{
    background: #5BC0DE !important;
}
