{template header}

<script type="text/javascript">
$(function(){
	$('ul.paymentmethod li input:first').prop('checked', true);
});
</script>

<div class="box">
	<h1>充值记录</h1>
	<div class="content">
		<div class="order_list">
			<table>
				<thead>
					<tr>
						<td style="width:6em">时间</td>
						<td>金额({echo Wallet::$PriceUnit})</td>
						<td>详细</td>
					</tr>
				</thead>
				<tbody>
				<!--{loop $walletlog $l}-->
					<tr>
						<td>
							<!--{if rdate($l['dateline'], 'Y') == rdate(TIMESTAMP, 'Y')}-->
								{echo rdate($l['dateline'], 'm-d H:i')}
							<!--{else}-->
								{echo rdate($l['dateline'], 'Y-m-d H:i')}
							<!--{/if}-->
						</td>
						<td><!--{if $l['delta'] > 0}-->+<!--{/if}-->{$l[delta]}</td>
						<td>
							<!--{if $l['type'] == Wallet::RechargeLog}-->
								{echo Wallet::$PaymentMethod[$l['paymentmethod']]}转入{$l[cost]}{echo Wallet::$PriceUnit}<br />
								(<!--{if $l['tradestate']}-->{echo Wallet::$TradeState[$l['tradestate']]}<!--{else}-->等待付款<!--{/if}-->)
								<!--{if !empty(Wallet::$PaymentInterface[$l['paymentmethod']]) && $l['tradestate'] != Wallet::TradeSuccess && $l['tradestate'] != Wallet::TradeFinished}-->
								<a href="index.php?mod={echo Wallet::$PaymentInterface[$l['paymentmethod']]}&rechargeid=$l[id]&enable_trade_query=1">[继续]</a>
								<!--{/if}-->
							<!--{elseif $l['type'] == Wallet::OrderRefundLog || $l['type'] == Wallet::OrderPaymentLog}-->
								<a href="index.php?mod=order&action=view&orderid=$l[orderid]">订单{echo Wallet::$LogType[$l['type']]}</a>
							<!--{elseif $l['type'] == Wallet::AdminModLog}-->
								管理员操作
							<!--{/if}-->
						</td>
					</tr>
				<!--{/loop}-->
				</tbody>
			</table>
		</div>
	</div>
</div>

{echo Template::mpage($pagenum, $page, $limit, 'index.php?mod=payment:log')}

{template footer}
