{template header}

<script type="text/javascript">
$(function(){
	$('ul.paymentmethod li input:first').prop('checked', true);
});
</script>

<div class="box">
	<h1>我的钱包</h1>
	<div class="content">
		<div class="profile">
			<div class="icon_home"></div>
			<div class="account">$_USER[account]</div>
			<ul class="operation">
				<li><a href="index.php?mod=user">修改个人信息</a></li>
				<li><a href="index.php?mod=user&action=logout">退出</a></li>
			</ul>
		</div>

		<div class="edit_form">
			<form id="rechargeform" action="./" method="get">
				<table>
					<tr>
						<th><label>余额：</label></th>
						<td>{echo $_G['user']->wallet}{echo Wallet::$PriceUnit}</td>
					</tr>
					<tr>
						<th><label>充值：</label></th>
						<td><input type="text" name="recharge" value="100.00" />{echo Wallet::$PriceUnit}</td>
					</tr>
				</table>

				<div class="lightbox">
					<h1>付款方式</h1>
					<div class="content">
						<ul class="mselect paymentmethod">
						<!--{loop Wallet::$PaymentMethod $methodid $name}-->
						<!--{if !empty(Wallet::$PaymentInterface[$methodid]) && $methodid != Wallet::ViaWallet && !empty($paymentconfig['enabled_method'][$methodid])}-->
							<li><input type="radio" name="mod" value="{echo Wallet::$PaymentInterface[$methodid]}" />$name</li>
						<!--{/if}-->
						<!--{/loop}-->
						</ul>
					</div>
				</div>

				<div class="post_buttons">
					<button type="submit">充值</button>
				</div>
			</form>
		</div>

		<!--{if !empty($prepaidreward)}-->
		<!--{loop $prepaidreward $r}--><a href="index.php?mod=alipay&recharge=$r[minamount]" class="button" style="width:auto">充{$r[minamount]}<!--{if $r['maxamount'] > $r['minamount']}--> ~ {$r[maxamount]}<!--{/if}-->{echo Wallet::$PriceUnit}返{$r[reward]}{echo Wallet::$PriceUnit}</a> <!--{/loop}-->
		<!--{/if}-->

		<div class="order_list">
			<table>
				<thead>
					<tr>
						<td style="width:6em">时间</td>
						<td>金额({echo Wallet::$PriceUnit})</td>
						<td>详细</td>
					</tr>
				</thead>
				<tbody>
				<!--{loop $walletlog $l}-->
					<tr>
						<td>
							<!--{if rdate($l['dateline'], 'Y') == rdate(TIMESTAMP, 'Y')}-->
								{echo rdate($l['dateline'], 'm-d H:i')}
							<!--{else}-->
								{echo rdate($l['dateline'], 'Y-m-d H:i')}
							<!--{/if}-->
						</td>
						<td><!--{if $l['delta'] > 0}-->+<!--{/if}-->{$l[delta]}</td>
						<td>
							<!--{if $l['type'] == Wallet::RechargeLog}-->
								{echo Wallet::$PaymentMethod[$l['paymentmethod']]}转入{$l[cost]}{echo Wallet::$PriceUnit}<br />
								(<!--{if $l['tradestate']}-->{echo Wallet::$TradeState[$l['tradestate']]}<!--{else}-->等待付款<!--{/if}-->)
								<!--{if !empty(Wallet::$PaymentInterface[$l['paymentmethod']]) && $l['tradestate'] != Wallet::TradeSuccess && $l['tradestate'] != Wallet::TradeFinished}-->
								<a href="index.php?mod={echo Wallet::$PaymentInterface[$l['paymentmethod']]}&rechargeid=$l[id]">[继续]</a>
								<!--{/if}-->
							<!--{elseif $l['type'] == Wallet::OrderRefundLog || $l['type'] == Wallet::OrderPaymentLog}-->
								<a href="index.php?mod=order&action=view&orderid=$l[orderid]">订单{echo Wallet::$LogType[$l['type']]}</a>
							<!--{/if}-->
						</td>
					</tr>
				<!--{/loop}-->
				</tbody>
			</table>
		</div>
	</div>
</div>

{eval echo Template::mpage($pagenum, $page, $limit, 'index.php?mod=payment')}

{template footer}
