{template header}

<script type="text/javascript">
$(function(){
	$('ul.paymentmethod li input:first').prop('checked', true);
});
</script>

<div class="box">
	<h1>我的钱包</h1>
	<div class="content">

		<div class="edit_form">
			<form id="rechargeform" action="index.php" method="get">
				<table>
					<tr>
						<th><label>余额：</label></th>
						<td>{echo $_G['user']->wallet}{echo Wallet::$PriceUnit}</td>
					</tr>
					<tr>
						<th><label>充值：</label></th>
						<td><input type="text" name="recharge" value="100.00" />{echo Wallet::$PriceUnit}</td>
					</tr>
				</table>

				<div class="lightbox">
					<h1>付款方式</h1>
					<div class="content">
						<ul class="mselect paymentmethod">
						<!--{loop Wallet::$PaymentMethod $methodid $name}-->
						<!--{if !empty(Wallet::$PaymentInterface[$methodid]) && $methodid != Wallet::ViaWallet && !empty($paymentconfig['enabled_method'][$methodid])}-->
							<li><input type="radio" name="mod" value="{echo Wallet::$PaymentInterface[$methodid]}" />$name</li>
						<!--{/if}-->
						<!--{/loop}-->
						</ul>
					</div>
				</div>

				<div class="post_buttons">
					<button type="submit">充值</button>
				</div>
			</form>
		</div>

		<!--{if !empty($prepaidreward)}-->
		<!--{loop $prepaidreward $r}--><a href="index.php?mod=alipay&recharge=$r[minamount]" class="button" style="width:auto">充{$r[minamount]}<!--{if $r['maxamount'] > $r['minamount']}--> ~ {$r[maxamount]}<!--{/if}-->{echo Wallet::$PriceUnit}返{$r[reward]}{echo Wallet::$PriceUnit}</a> <!--{/loop}-->
		<!--{/if}-->
	</div>
</div>

{template footer}
