<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="{__TEMPLATE_ROOT__}image/common.css?$_CONFIG[refversion]" type="text/css" />
<!--{if !empty($_CONFIG['jquery_cdn'])}-->
<script src="$_CONFIG[jquery_cdn]"></script>
<!--{/if}-->
<script>window.jQuery || document.write('<script src="3rdparty/jquery/jquery-3.1.0.min.js"><\/script>');</script>
<script src="js/common.js?$_CONFIG[refversion]"></script>
<script src="js/admin.js?$_CONFIG[refversion]"></script>
<!--{if isset($_CONFIG['head_element'])}-->$_CONFIG[head_element]<!--{/if}-->
</head>

<body>
	<section class="container">
		<header>
			<h2>$_CONFIG[sitename]管理面板</h2>
			<div class="profile">
				<div class="account">$_ADMIN[account]</div>
				<ul class="operation">
					<li><a href="admin.php?mod=cp&action=edit">修改个人信息</a></li>
					<li><a href="admin.php?mod=cp&action=logout">退出</a></li>
				</ul>
			</div>
		</header>

		<section class="main">
			<ul class="menu">
				<!--{loop $cpmenu_list $module}-->
					<!--{if $_G['admin']->hasPermission($module['name']) && !empty($module['admin_modules'])}-->
					<li>
						<a href="admin.php?mod=$module[name]">{echo lang('common', 'module_'.$module['name'])}</a>
						<!--{if count($module['admin_modules']) > 1}-->
						<ul class="submenu">
						<!--{loop $module['admin_modules'] $submodule_name}-->
							<!--{if $submodule_name != 'main' && $_G['admin']->hasPermission($module['name'].':'.$submodule_name)}-->
							<li><a href="admin.php?mod={$module['name']}:{$submodule_name}">{echo lang('common', 'module_'.$module['name'].':'.$submodule_name)}</a></li>
							<!--{/if}-->
						<!--{/loop}-->
						</ul>
						<!--{/if}-->
					</li>
					<!--{/if}-->
				<!--{/loop}-->
			</ul>
			<section class="content">
