<!--{template header}-->

<script type="text/javascript" src="./js/jquery.clock.js"></script>
<script type="text/javascript">
$(function(){
	$('#clock').clock({'timestamp':{TIMESTAMP}, 'format':'Y-m-d H:i:s'});
});
</script>

<div class="box edit_form">
	<h1>系统设置</h1>
	<div class="headactions">
		<a href="$mod_url&type=system">[系统选项]</a>
		<a href="$mod_url&type=qqconnect">[QQ互联]</a>
		<a href="$mod_url&type=wxconnect">[微信公众平台]</a>
		<a href="$mod_url&type=autoreply">[自动回复]</a>
	</div>

	<form action="$mod_url&type=$type" method="post">
	
	<!--{if $type == 'system'}-->
	<h2>个性化</h2>
	<table>
		<tr>
			<th><label>站点名称：</label></th>
			<td><input type="text" name="system[sitename]" value="$_CONFIG[sitename]" /></td>
		</tr>
		<tr>
			<th><label>小票箴言：</label></th>
			<td>
				<textarea name="system[ticket_tips]">$_CONFIG[ticket_tips]</textarea>
				<span class="tips">每行一条，系统随机选择一条打印</span>
			</td>
		</tr>
	</table>

	<h2>开发选项</h2>
	<table>
		<tr>
			<th><label>时区设置：</label></th>
			<td><input type="text" name="system[timezone]" value="$_CONFIG[timezone]" /></td>
		</tr>
		<tr>
			<th><label>时间修正：</label></th>
			<td>
				<input type="text" name="system[timefix]" value="$_CONFIG[timefix]" />
				<span class="tips">单位：s，当前时间：<span id="clock">{echo rdate(TIMESTAMP)}</span></span>
			</td>
		</tr>
		<tr>
			<th><label>cookie前缀：</label></th>
			<td><input type="text" name="system[cookiepre]" value="$_CONFIG[cookiepre]" /></td>
		</tr>
		<tr>
			<th><label>界面风格：</label></th>
			<td>{echo Template::select('system[style]', $_G['stylelist'], $_CONFIG['style'])}</td>
		</tr>
		<tr>
			<th><label>其他配置：</label></th>
			<td>
				{echo Template::checkbox('system[debugmode]', '开发模式', !empty($_CONFIG[debugmode]))}
				{echo Template::checkbox('system[log_request]', '访问记录', !empty($_CONFIG[log_request]))}
				{echo Template::checkbox('system[log_error]', '错误记录', !empty($_CONFIG[log_error]))}
				{echo Template::checkbox('system[refresh_template]', '自动刷新模板', !empty($_CONFIG[refresh_template]))}
			</td>
		</tr>
		<tr>
			<th><label>头部附加代码：</label></th>
			<td>
				<textarea name="system[head_element]">$_CONFIG[head_element]</textarea>
			</td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	<!--{elseif $type == 'qqconnect'}-->
	
	<h2>QQ互联</h2>
	<table>
		<tr>
			<th><label>APP ID：</label></th>
			<td><input type="text" name="qqconnect[appid]" value="$qqconnect[appid]" /></td>
		</tr>
		<tr>
			<th><label>APP KEY：</label></th>
			<td><input type="text" name="qqconnect[appkey]" value="$qqconnect[appkey]" /></td>
		</tr>
		<tr>
			<th><label>回调地址：</label></th>
			<td><input type="text" name="qqconnect[callback]" value="$qqconnect[callback]" /></td>
		</tr>
		<tr>
			<th><label>申请开放接口：</label></th>
			<td><textarea name="qqconnect[scope]">$qqconnect[scope]</textarea></td>
		</tr>
		<tr>
			<th><label>报告错误：</label></th>
			<td>{echo Template::radio('qqconnect[errorReport]', array('否', '是'), $qqconnect['errorReport'])}</td>
		</tr>
		<tr>
			<th><label>存储方式：</label></th>
			<td><input type="text" name="qqconnect[storageType]" value="$qqconnect[storageType]" /></td>
		</tr>
		<tr>
			<th><label>数据库主机地址：</label></th>
			<td><input type="text" name="qqconnect[host]" value="$qqconnect[host]" /></td>
		</tr>
		<tr>
			<th><label>数据库用户名：</label></th>
			<td><input type="text" name="qqconnect[user]" value="$qqconnect[user]" /></td>
		</tr>
		<tr>
			<th><label>数据库密码：</label></th>
			<td><input type="text" name="qqconnect[password]" value="$qqconnect[password]" /></td>
		</tr>
		<tr>
			<th><label>数据库名：</label></th>
			<td><input type="text" name="qqconnect[database]" value="$qqconnect[database]" /></td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	<!--{elseif $type == 'wxconnect'}-->
	<h2>微信公众平台</h2>
	<table>
		<tr>
			<th><label>公众账号：</label></th>
			<td><input type="text" name="wxconnect[account]" value="$wxconnect[account]" /></td>
		</tr>
		<tr>
			<th><label>回调URL：</label></th>
			<td>{$_G[root_url]}weixinserver.php</td>
		</tr>
		<tr>
			<th><label>Token：</label></th>
			<td><input type="text" name="wxconnect[token]" value="$wxconnect[token]" /></td>
		</tr>
		<tr>
			<th><label>关注提示文字：</label></th>
			<td><textarea name="wxconnect[subscribe_text]" class="wide">$wxconnect[subscribe_text]</textarea></td>
		</tr>
		<tr>
			<th><label>进入网站关键词：</label></th>
			<td><textarea name="wxconnect[entershop_keyword]" class="wide">$wxconnect[entershop_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind_keyword]" class="wide">$wxconnect[bind_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>确认绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind2_keyword]" class="wide">$wxconnect[bind2_keyword]</textarea></td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	<!--{elseif $type == 'autoreply'}-->
	<script type="text/javascript">
	$(function(){
		$('#autoreply_list').editlist({
			'edit' : '$mod_url&type=autoreply&action=edit',
			'delete' : '$mod_url&type=autoreply&action=delete',
			'attr' : ['keyword', 'reply'],
			'buttons' : {'delete':'删除'}
		});
	});
	</script>

	<h2>自动回复</h2>
	<div id="autoreply_list" class="list">
		<table>
			<thead><tr><td>关键词</td><td>回复内容</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $autoreply $r}-->
				<tr primaryvalue="$r[id]"><td>$r[keyword]</td><td>$r[reply]</td><td></td></tr>
				<!--{/loop}-->
				<tr>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--{/if}-->

	</form>
</div>

<!--{template footer}-->
