<!--{template header}-->

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=system">系统</a></li>
	<li>设置</li>
</ol>

<script type="text/javascript" src="./js/jquery.clock.js"></script>
<script type="text/javascript">
$(function(){
	$('#clock').clock({'timestamp':{TIMESTAMP}, 'format':'Y-m-d H:i:s'});

	$('#cookiepre').dblclick(function(){
		var input = $(this);
		input.val(randomstr(3) + '_');
	});

	$('#refversion').dblclick(function(){
		$(this).val(randomstr(3));
	});
});
</script>

<div class="box edit_form">
	<h1>系统设置</h1>
	<form class="toast" action="$mod_url" method="post">

	<h2>个性化</h2>
	<table>
		<tr>
			<th><label>站点名称：</label></th>
			<td><input type="text" name="system[sitename]" value="$_CONFIG[sitename]" /></td>
		</tr>
		<tr>
			<th><label>备案号：</label></th>
			<td><input type="text" name="system[icp]" value="$_CONFIG[icp]" /></td>
		</tr>
		<tr>
			<th><label>时区设置：</label></th>
			<td><input type="text" name="system[timezone]" value="$_CONFIG[timezone]" /></td>
		</tr>
		<tr>
			<th><label>用户界面风格：</label></th>
			<td>{echo Template::select('system[style]', $user_style_list, $_CONFIG['style'])}</td>
		</tr>
		<tr>
			<th><label>主页模块代号：</label></th>
			<td><input type="text" name="system[homemodule]" value="$_CONFIG[homemodule]" /></td>
		</tr>
	</table>

	<h2>开发选项</h2>
	<table>
		<tr>
			<th><label>时间修正：</label></th>
			<td>
				<input type="text" name="system[timefix]" value="$_CONFIG[timefix]" />
				<span class="tips">单位：s，当前时间：<span id="clock">{echo rdate(TIMESTAMP)}</span></span>
			</td>
		</tr>
		<tr>
			<th><label>cookie前缀：</label></th>
			<td><input type="text" id="cookiepre" name="system[cookiepre]" value="$_CONFIG[cookiepre]" /></td>
		</tr>
		<tr>
			<th><label>静态资源路径：</label></th>
			<td><input type="text" id="refversion" name="system[static_url]" value="$_CONFIG[static_url]" /></td>
		</tr>
		<tr>
			<th><label>外接资源后缀：</label></th>
			<td><input type="text" id="refversion" name="system[refversion]" value="$_CONFIG[refversion]" /></td>
		</tr>
		<tr>
			<th><label>jQuery CDN：</label></th>
			<td><input type="text" id="refversion" name="system[jquery_cdn]" value="$_CONFIG[jquery_cdn]" /></td>
		</tr>
		<tr>
			<th><label>其他配置：</label></th>
			<td>
				{echo Template::checkbox('system[debugmode]', '开发模式', !empty($_CONFIG['debugmode']))}
				{echo Template::checkbox('system[log_request]', '访问记录', !empty($_CONFIG['log_request']))}
				{echo Template::checkbox('system[log_error]', '错误记录', !empty($_CONFIG['log_error']))}
				{echo Template::checkbox('system[refresh_template]', '自动刷新模板', !empty($_CONFIG['refresh_template']))}
			</td>
		</tr>
		<tr>
			<th><label>系统错误发送至：</label></th>
			<td><input type="text" id="cookiepre" name="system[error_report_to]" value="$_CONFIG[error_report_to]" /></td>
		</tr>
		<tr>
			<th><label>头部附加代码：</label></th>
			<td><textarea name="system[head_element]">$_CONFIG[head_element]</textarea></td>
		</tr>
		<tr>
			<th><label>是否关站：</label></th>
			<td>{echo Template::radio('system[site_closed]', array('否', '是'), !empty($_CONFIG['site_closed']))}</td>
		</tr>
		<tr>
			<th><label>关站原因：</label></th>
			<td><textarea name="system[site_close_reason]">$_CONFIG[site_close_reason]</textarea></td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	</form>
</div>

<!--{template footer}-->
