<!--{template header}-->

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=admin">管理员</a></li>
	<li>编辑管理员</li>
</ol>

<script type="text/javascript">
$(function(){
	$('#limitation_ul').on('click', 'li .add', function(e){
		var button = $(e.target);
		var li = button.parent();
		var ul = li.parent();
		ul.append(li.clone(true));

		button.attr('class', 'remove');
		button.text('[移除]');
	});

	$('#limitation_ul').on('click', 'li .remove', function(e){
		var button = $(e.target);
		var li = button.parent();
		li.remove();
	});
});
</script>
<script type="text/javascript">
var TSelectData = {'all_addresses' : {echo json_encode($address_components)}};
</script>
<script type="text/javascript" src="./js/cascadeselect.js"></script>

<div class="box edit_form">
	<!--{if $id}-->
	<h1>编辑管理员权限 - $a[account]</h1>
	<!--{else}-->
	<h1>添加新管理员</h1>
	<!--{/if}-->

	<form class="toast" action="$mod_url&action=edit" method="post">
	<input type="hidden" id="id" name="id" value="$a[id]" />
	<table>
		<tr>
			<th><label>账号：</label></th>
			<td><input type="text" id="account" name="account" value="$a[account]" {if $id}readonly="readonly"{/if} /></td>
		</tr>
		<tr>
			<th><label>密码：</label></th>
			<td><input type="password" id="password" name="password" /></td>
		</tr>
		<tr>
			<th><label>再次确认密码：</label></th>
			<td><input type="password" id="password2" name="password2" /></td>
		</tr>
		<tr>
			<th><label>姓名：</label></th>
			<td><input type="text" id="realname" name="realname" value="$a[realname]" /></td>
		</tr>
		<tr>
			<th><label>手机：</label></th>
			<td><input type="text" id="mobile" name="mobile" value="$a[mobile]" /></td>
		</tr>
		<tr>
			<th><label>昵称：</label></th>
			<td><input type="text" id="nickname" name="nickname" value="$a[nickname]" /></td>
		</tr>
		<tr>
			<th><label>全局权限：</label></th>
			<td>
				<dl class="spanlist permissions">
				<!--{loop Administrator::GetAllPermissionNames() $permission}-->
					<!--{if empty(Administrator::$SpecialPermission[$permission]) && $_G['admin']->hasPermission($permission)}-->
					<span title="{echo lang('common', 'permission_'.$permission.'_comment')}">{echo template::checkbox("p[$permission]", lang('common', 'permission_'.$permission), $admin->hasPermission($permission))}</span>
					<!--{/if}-->
				<!--{/loop}-->
				</dl>
			</td>
		</tr>
		<tr>
			<th><label>普通权限：</label></th>
			<td>
				<div class="spanlist permissions">
					<!--{if $_G['admin']->hasPermission('order_sort')}--><span>{echo Template::checkbox('p[order_sort]', '查看待分拣订单', $admin->hasPermission('order_sort'))}</span><!--{/if}-->
					<!--{if $_G['admin']->hasPermission('order_sort_w')}--><span>{echo Template::checkbox('p[order_sort_w]', '分拣订单', $admin->hasPermission('order_sort_w'))}</span><!--{/if}-->
					<!--{if $_G['admin']->hasPermission('order_deliver')}--><span>{echo Template::checkbox('p[order_deliver]', '查看待配送订单', $admin->hasPermission('order_deliver'))}</span><!--{/if}-->
					<!--{if $_G['admin']->hasPermission('order_deliver_w')}--><span>{echo Template::checkbox('p[order_deliver_w]', '配送订单', $admin->hasPermission('order_deliver_w'))}</span><!--{/if}-->
					<!--{if $_G['admin']->hasPermission('ticketprinter')}--><span>{echo Template::checkbox('p[ticketprinter]', '打印提货单', $admin->hasPermission('ticketprinter'))}</span><!--{/if}-->
				</div>
			</td>
		</tr>
		<tr title="选择此项后该管理员的普通权限（全局权限不受限制）限定在指定营业范围内">
			<th><label>限定管理范围：</label></th>
			<td>
				<ul id="limitation_ul">
					<!--{loop $admin->getLimitations(false) $componentid}-->
					<li>{echo Template::tselect('limitation[]', 'all_addresses', false, $componentid, false)} <a href="###" class="remove">[移除]</a></li>
					<!--{/loop}-->
					<li>{echo Template::tselect('limitation[]', 'all_addresses', false, 0, false)} <a href="###" class="add">[增加]</a></li>
				</ul>
			</td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">确定<!--{echo $id ? '编辑' : '添加'}--></button>
	</div>

	</form>
</div>

<!--{template footer}-->
