<!--{template header}-->

<script type="text/javascript">
$(function(){
	$('#menu_list tbody').on('click', '.delete', function(e){
		var button = $(e.target);
		var tr = button.parent().parent();
		tr.remove();
	});

	$('#menu_list tbody').on('click', '.add', function(e){
		var button = $(e.target);
		var tr = button.parent().parent();

		var new_tr = tr.clone();
		new_tr.find('text, select, textarea').val('');
		var tbody = tr.parent();
		tbody.append(new_tr);

		button.html('删除');
		button.attr('class', 'delete');
	});

	$('#menu_list').submit(function(e){
		var buttons = [];
		$('#menu_list tbody tr:not(:last-child)').each(function(){
			var td = $(this).children();

			var button = {};
			button['name'] = td.eq(0).children('input').val();
			button['type'] = td.eq(1).children('select').val();
			button[button['type'] == 'view' ? 'url' : 'key'] = td.eq(2).children('input').val();

			buttons.push(button);
		});

		$.post('$mod_url&action=menu&ajax=1', 'button=' + JSON.stringify(buttons), function(result){
			makeToast(result);
		}, 'json');

		return false;
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=weixin">微信</a></li>
	<li>菜单</li>
</ol>

<div class="box">
	<h1>自定义菜单设置</h1>

	<form id="menu_list" action="$mod_url&action=menu" method="post">
		<div class="list">
			<table>
				<thead><tr><td>名称</td><td>类型</td><td>键值或URL</td><td>操作</td></tr></thead>
				<tbody>
					<!--{loop $menu['button'] $b}-->
					<tr>
						<td><input type="text" value="$b[name]" /></td>
						<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'), $b['type'])}</td>
						<td><input type="text" value="{if isset($b['key'])}$b[key]{elseif isset($b['url'])}$b[url]{/if}" /></td>
						<td><button type="button" class="delete">删除</button></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td><input type="text" /></td>
						<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'))}</td>
						<td><input type="text" /></td>
						<td><button type="button" class="add">添加</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="post_buttons">
			<button type="submit">更新菜单</button>
		</div>
	</form>
</div>

<!--{template footer}-->
