<!--{template header}-->

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=weixin">微信</a></li>
	<li>设置</li>
</ol>

<div class="box edit_form">
	<h1>微信公众平台设置</h1>

	<form class="toast" action="$mod_url&type=wxconnect" method="post">

	<table>
		<tr>
			<th><label>App ID：</label></th>
			<td><input type="text" name="wxconnect[app_id]" value="$wxconnect[app_id]" /></td>
		</tr>
		<tr>
			<th><label>App Secret：</label></th>
			<td><input type="text" name="wxconnect[app_secret]" value="$wxconnect[app_secret]" /></td>
		</tr>
		<tr>
			<th><label>公众账号：</label></th>
			<td><input type="text" name="wxconnect[account]" value="$wxconnect[account]" /></td>
		</tr>
		<tr>
			<th><label>回调URL：</label></th>
			<td>{$_G[root_url]}api/weixin_server.php</td>
		</tr>
		<tr>
			<th><label>Token：</label></th>
			<td><input type="text" name="wxconnect[token]" value="$wxconnect[token]" /></td>
		</tr>
		<tr>
			<th><label>关注提示文字：</label></th>
			<td><textarea name="wxconnect[subscribe_text]" class="wide">$wxconnect[subscribe_text]</textarea></td>
		</tr>
		<tr>
			<th><label>进入网站关键词：</label></th>
			<td><textarea name="wxconnect[entershop_keyword]">$wxconnect[entershop_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind_keyword]">$wxconnect[bind_keyword]</textarea></td>
		</tr>
		<tr>
			<th><label>确认绑定账号关键词：</label></th>
			<td><textarea name="wxconnect[bind2_keyword]">$wxconnect[bind2_keyword]</textarea></td>
		</tr>
	</table>

	<div class="post_buttons">
		<button type="submit">修改设置</button>
	</div>

	</form>
</div>

<!--{template footer}-->
