<!--{template header}-->

<script type="text/javascript" src="{__TEMPLATE_ROOT__}js/weixin_menu.js?$_CONFIG[refversion]"></script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=weixin">微信</a></li>
	<li>菜单</li>
</ol>

<div id="menu_list" class="box">
	<h1>自定义菜单设置</h1>

	<h2>一级菜单设置</h2>
	<div class="list top_button">
		<table>
			<thead><tr><td>名称</td><td>类型</td><td>键值或URL</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $menu['button'] $b}-->
				<tr>
					<td><input type="text" value="$b[name]" /></td>
					<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'), $b['type'])}</td>
					<td><input type="text" value="{if isset($b['key'])}$b[key]{elseif isset($b['url'])}$b[url]{/if}" /></td>
					<td><button type="button" class="delete">删除</button></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td><input type="text" /></td>
					<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'))}</td>
					<td><input type="text" /></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<h2>二级菜单设置</h2>
	<div class="list sub_button">
		<table>
			<thead><tr><td>名称</td><td>类型</td><td>键值或URL</td><td>上级按钮</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $menu['button'] $parentid $parent}-->
					<!--{if !empty($parent['sub_button'])}-->
						<!--{loop $parent['sub_button'] $b}-->
						<tr>
							<td><input type="text" value="$b[name]" /></td>
							<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'), $b['type'])}</td>
							<td><input type="text" value="{if isset($b['key'])}$b[key]{elseif isset($b['url'])}$b[url]{/if}" /></td>
							<td><select class="parent_buttons" data-value="$parentid"></select></td>
							<td><button type="button" class="delete">删除</button></td>
						</tr>
						<!--{/loop}-->
					<!--{/if}-->
				<!--{/loop}-->
				<tr>
					<td><input type="text" /></td>
					<td>{echo Template::select('', array('view' => '链接', 'click' => '点击事件'))}</td>
					<td><input type="text" /></td>
					<td><select class="parent_buttons"></select></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="post_buttons">
		<button type="button" id="update_button">更新菜单</button>
	</div>
</div>

<!--{template footer}-->
