<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="author" content="Kazuichi Takashiro" />
<style type="text/css">
html, body, iframe{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
</style>
</head>
<body>
	<iframe src="$protected_url"></iframe>
	<noframes>您的手机浏览器/微信不支持网页内嵌功能，请尝试换用其他浏览器打开。</noframes>
</body>
</html>
